.results {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    
    &__filter-container, &__list-container {
        padding: 0 100px;   
    }

    &__filter-container {
        background-color: lavender;
    }

    &--nodata {
        justify-content: center;
    }


}