.header {
    display: flex;
    flex-flow: column;
    padding: 0 100px;
    flex-shrink: 0;

    /* temporal */
        background-color: ghostwhite;
    /* temporal */

    &__logo-wraper {
        margin: 20px 0;
    }
}